.venv
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.pyc
__pycache__

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

django-projekat/Znaci/static/srbija/*
django-projekat/statika/srbija/*

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
django-projekat/statika/__init__.py
django-projekat/statika/pozarina.jpg
django-projekat/statika/admin/css/autocomplete.css
django-projekat/statika/admin/css/base.css
django-projekat/statika/admin/css/changelists.css
django-projekat/statika/admin/css/dashboard.css
django-projekat/statika/admin/css/fonts.css
django-projekat/statika/admin/css/forms.css
django-projekat/statika/admin/css/login.css
django-projekat/statika/admin/css/nav_sidebar.css
django-projekat/statika/admin/css/responsive_rtl.css
django-projekat/statika/admin/css/responsive.css
django-projekat/statika/admin/css/rtl.css
django-projekat/statika/admin/css/widgets.css
django-projekat/statika/admin/css/vendor/select2/LICENSE-SELECT2.md
django-projekat/statika/admin/css/vendor/select2/select2.css
django-projekat/statika/admin/css/vendor/select2/select2.min.css
django-projekat/statika/admin/fonts/LICENSE.txt
django-projekat/statika/admin/fonts/README.txt
django-projekat/statika/admin/fonts/Roboto-Bold-webfont.woff
django-projekat/statika/admin/fonts/Roboto-Light-webfont.woff
django-projekat/statika/admin/fonts/Roboto-Regular-webfont.woff
django-projekat/statika/admin/img/calendar-icons.svg
django-projekat/statika/admin/img/icon-addlink.svg
django-projekat/statika/admin/img/icon-alert.svg
django-projekat/statika/admin/img/icon-calendar.svg
django-projekat/statika/admin/img/icon-changelink.svg
django-projekat/statika/admin/img/icon-clock.svg
django-projekat/statika/admin/img/icon-deletelink.svg
django-projekat/statika/admin/img/icon-no.svg
django-projekat/statika/admin/img/icon-unknown-alt.svg
django-projekat/statika/admin/img/icon-unknown.svg
django-projekat/statika/admin/img/icon-viewlink.svg
django-projekat/statika/admin/img/icon-yes.svg
django-projekat/statika/admin/img/inline-delete.svg
django-projekat/statika/admin/img/LICENSE
django-projekat/statika/admin/img/README.txt
django-projekat/statika/admin/img/search.svg
django-projekat/statika/admin/img/selector-icons.svg
django-projekat/statika/admin/img/sorting-icons.svg
django-projekat/statika/admin/img/tooltag-add.svg
django-projekat/statika/admin/img/tooltag-arrowright.svg
django-projekat/statika/admin/img/gis/move_vertex_off.svg
django-projekat/statika/admin/img/gis/move_vertex_on.svg
django-projekat/statika/admin/js/actions.js
django-projekat/statika/admin/js/autocomplete.js
django-projekat/statika/admin/js/calendar.js
django-projekat/statika/admin/js/cancel.js
django-projekat/statika/admin/js/change_form.js
django-projekat/statika/admin/js/collapse.js
django-projekat/statika/admin/js/core.js
django-projekat/statika/admin/js/inlines.js
django-projekat/statika/admin/js/jquery.init.js
django-projekat/statika/admin/js/nav_sidebar.js
django-projekat/statika/admin/js/popup_response.js
django-projekat/statika/admin/js/prepopulate_init.js
django-projekat/statika/admin/js/prepopulate.js
django-projekat/statika/admin/js/SelectBox.js
django-projekat/statika/admin/js/SelectFilter2.js
django-projekat/statika/admin/js/urlify.js
django-projekat/statika/admin/js/admin/DateTimeShortcuts.js
django-projekat/statika/admin/js/admin/RelatedObjectLookups.js
django-projekat/statika/admin/js/vendor/jquery/jquery.js
django-projekat/statika/admin/js/vendor/jquery/jquery.min.js
django-projekat/statika/admin/js/vendor/jquery/LICENSE.txt
django-projekat/statika/admin/js/vendor/select2/LICENSE.md
django-projekat/statika/admin/js/vendor/select2/select2.full.js
django-projekat/statika/admin/js/vendor/select2/select2.full.min.js
django-projekat/statika/admin/js/vendor/select2/i18n/af.js
django-projekat/statika/admin/js/vendor/select2/i18n/ar.js
django-projekat/statika/admin/js/vendor/select2/i18n/az.js
django-projekat/statika/admin/js/vendor/select2/i18n/bg.js
django-projekat/statika/admin/js/vendor/select2/i18n/bn.js
django-projekat/statika/admin/js/vendor/select2/i18n/bs.js
django-projekat/statika/admin/js/vendor/select2/i18n/ca.js
django-projekat/statika/admin/js/vendor/select2/i18n/cs.js
django-projekat/statika/admin/js/vendor/select2/i18n/da.js
django-projekat/statika/admin/js/vendor/select2/i18n/de.js
django-projekat/statika/admin/js/vendor/select2/i18n/dsb.js
django-projekat/statika/admin/js/vendor/select2/i18n/el.js
django-projekat/statika/admin/js/vendor/select2/i18n/en.js
django-projekat/statika/admin/js/vendor/select2/i18n/es.js
django-projekat/statika/admin/js/vendor/select2/i18n/et.js
django-projekat/statika/admin/js/vendor/select2/i18n/eu.js
django-projekat/statika/admin/js/vendor/select2/i18n/fa.js
django-projekat/statika/admin/js/vendor/select2/i18n/fi.js
django-projekat/statika/admin/js/vendor/select2/i18n/fr.js
django-projekat/statika/admin/js/vendor/select2/i18n/gl.js
django-projekat/statika/admin/js/vendor/select2/i18n/he.js
django-projekat/statika/admin/js/vendor/select2/i18n/hi.js
django-projekat/statika/admin/js/vendor/select2/i18n/hr.js
django-projekat/statika/admin/js/vendor/select2/i18n/hsb.js
django-projekat/statika/admin/js/vendor/select2/i18n/hu.js
django-projekat/statika/admin/js/vendor/select2/i18n/hy.js
django-projekat/statika/admin/js/vendor/select2/i18n/id.js
django-projekat/statika/admin/js/vendor/select2/i18n/is.js
django-projekat/statika/admin/js/vendor/select2/i18n/it.js
django-projekat/statika/admin/js/vendor/select2/i18n/ja.js
django-projekat/statika/admin/js/vendor/select2/i18n/ka.js
django-projekat/statika/admin/js/vendor/select2/i18n/km.js
django-projekat/statika/admin/js/vendor/select2/i18n/ko.js
django-projekat/statika/admin/js/vendor/select2/i18n/lt.js
django-projekat/statika/admin/js/vendor/select2/i18n/lv.js
django-projekat/statika/admin/js/vendor/select2/i18n/mk.js
django-projekat/statika/admin/js/vendor/select2/i18n/ms.js
django-projekat/statika/admin/js/vendor/select2/i18n/nb.js
django-projekat/statika/admin/js/vendor/select2/i18n/ne.js
django-projekat/statika/admin/js/vendor/select2/i18n/nl.js
django-projekat/statika/admin/js/vendor/select2/i18n/pl.js
django-projekat/statika/admin/js/vendor/select2/i18n/ps.js
django-projekat/statika/admin/js/vendor/select2/i18n/pt-BR.js
django-projekat/statika/admin/js/vendor/select2/i18n/pt.js
django-projekat/statika/admin/js/vendor/select2/i18n/ro.js
django-projekat/statika/admin/js/vendor/select2/i18n/ru.js
django-projekat/statika/admin/js/vendor/select2/i18n/sk.js
django-projekat/statika/admin/js/vendor/select2/i18n/sl.js
django-projekat/statika/admin/js/vendor/select2/i18n/sq.js
django-projekat/statika/admin/js/vendor/select2/i18n/sr-Cyrl.js
django-projekat/statika/admin/js/vendor/select2/i18n/sr.js
django-projekat/statika/admin/js/vendor/select2/i18n/sv.js
django-projekat/statika/admin/js/vendor/select2/i18n/th.js
django-projekat/statika/admin/js/vendor/select2/i18n/tk.js
django-projekat/statika/admin/js/vendor/select2/i18n/tr.js
django-projekat/statika/admin/js/vendor/select2/i18n/uk.js
django-projekat/statika/admin/js/vendor/select2/i18n/vi.js
django-projekat/statika/admin/js/vendor/select2/i18n/zh-CN.js
django-projekat/statika/admin/js/vendor/select2/i18n/zh-TW.js
django-projekat/statika/admin/js/vendor/xregexp/LICENSE.txt
django-projekat/statika/admin/js/vendor/xregexp/xregexp.js
django-projekat/statika/admin/js/vendor/xregexp/xregexp.min.js
django-projekat/statika/bootstrap/css/bootstrap-grid.css
django-projekat/statika/bootstrap/css/bootstrap-grid.css.map
django-projekat/statika/bootstrap/css/bootstrap-grid.min.css
django-projekat/statika/bootstrap/css/bootstrap-grid.min.css.map
django-projekat/statika/bootstrap/css/bootstrap-reboot.css
django-projekat/statika/bootstrap/css/bootstrap-reboot.css.map
django-projekat/statika/bootstrap/css/bootstrap-reboot.min.css
django-projekat/statika/bootstrap/css/bootstrap-reboot.min.css.map
django-projekat/statika/bootstrap/css/bootstrap.css
django-projekat/statika/bootstrap/css/bootstrap.css.map
django-projekat/statika/bootstrap/css/bootstrap.min.css
django-projekat/statika/bootstrap/css/bootstrap.min.css.map
django-projekat/statika/bootstrap/js/bootstrap.bundle.js
django-projekat/statika/bootstrap/js/bootstrap.bundle.js.map
django-projekat/statika/bootstrap/js/bootstrap.bundle.min.js
django-projekat/statika/bootstrap/js/bootstrap.bundle.min.js.map
django-projekat/statika/bootstrap/js/bootstrap.js
django-projekat/statika/bootstrap/js/bootstrap.js.map
django-projekat/statika/bootstrap/js/bootstrap.min.js
django-projekat/statika/bootstrap/js/bootstrap.min.js.map
django-projekat/statika/bootstrap/js/jquery.js
django-projekat/statika/bootstrap/js/jquery.min.js
django-projekat/statika/bootstrap/js/jquery.min.map
django-projekat/statika/fontawesome/css/all.css
django-projekat/statika/fontawesome/css/all.min.css
django-projekat/statika/fontawesome/css/brands.css
django-projekat/statika/fontawesome/css/brands.min.css
django-projekat/statika/fontawesome/css/fontawesome.css
django-projekat/statika/fontawesome/css/fontawesome.min.css
django-projekat/statika/fontawesome/css/regular.css
django-projekat/statika/fontawesome/css/regular.min.css
django-projekat/statika/fontawesome/css/solid.css
django-projekat/statika/fontawesome/css/solid.min.css
django-projekat/statika/fontawesome/css/svg-with-js.css
django-projekat/statika/fontawesome/css/svg-with-js.min.css
django-projekat/statika/fontawesome/css/v4-shims.css
django-projekat/statika/fontawesome/css/v4-shims.min.css
django-projekat/statika/fontawesome/js/all.js
django-projekat/statika/fontawesome/js/all.min.js
django-projekat/statika/fontawesome/js/brands.js
django-projekat/statika/fontawesome/js/brands.min.js
django-projekat/statika/fontawesome/js/fontawesome.js
django-projekat/statika/fontawesome/js/fontawesome.min.js
django-projekat/statika/fontawesome/js/regular.js
django-projekat/statika/fontawesome/js/regular.min.js
django-projekat/statika/fontawesome/js/solid.js
django-projekat/statika/fontawesome/js/solid.min.js
django-projekat/statika/fontawesome/js/v4-shims.js
django-projekat/statika/fontawesome/js/v4-shims.min.js
django-projekat/statika/fontawesome/sprites/brands.svg
django-projekat/statika/fontawesome/sprites/regular.svg
django-projekat/statika/fontawesome/sprites/solid.svg
django-projekat/statika/fontawesome/webfonts/fa-brands-400.eot
django-projekat/statika/fontawesome/webfonts/fa-brands-400.svg
django-projekat/statika/fontawesome/webfonts/fa-brands-400.ttf
django-projekat/statika/fontawesome/webfonts/fa-brands-400.woff
django-projekat/statika/fontawesome/webfonts/fa-brands-400.woff2
django-projekat/statika/fontawesome/webfonts/fa-regular-400.eot
django-projekat/statika/fontawesome/webfonts/fa-regular-400.svg
django-projekat/statika/fontawesome/webfonts/fa-regular-400.ttf
django-projekat/statika/fontawesome/webfonts/fa-regular-400.woff
django-projekat/statika/fontawesome/webfonts/fa-regular-400.woff2
django-projekat/statika/fontawesome/webfonts/fa-solid-900.eot
django-projekat/statika/fontawesome/webfonts/fa-solid-900.svg
django-projekat/statika/fontawesome/webfonts/fa-solid-900.ttf
django-projekat/statika/fontawesome/webfonts/fa-solid-900.woff
django-projekat/statika/fontawesome/webfonts/fa-solid-900.woff2
django-projekat/Znaci/static/__init__.py
django-projekat/Znaci/static/Ikona iOS(1).png
django-projekat/Znaci/static/pozadina.jpg
